@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');
/* handlee y monserrat 400 y 700 */

/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

:root {
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundario: 'Handlee', cursive;
    --anchoMaximoContainer: 1100px;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: var(--anchoMaximoContainer);
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* inicio header */

header .nav_top {
    background-color: var(--color-secundario);
    padding: 20px 10px;
}

header .nav_top a {
    color: white;
    text-decoration: none;
    font-size: 120%;
}

header .nav_top a span {
    display: none;
}

header .nav_top .flex {
    justify-content: space-between;
}

header .nav_top i {
    color: var(--color-principal)
}

header nav {
    padding: 20px;
}

header .logo {
    max-width: 110px;
}

/* meto las tres lineas en un width para poder pulsar  a cualquiera simulando un boton */

header .hamburguesa {
    width: 50px;
    cursor: pointer;
}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    margin: 10px;
}

header nav .flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    width: 100%;
}

/* en movil puedo pulsar en zona amplia, no solo en el enlace */

header nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    transition: 1s;
}

/* header nav ul li .activo */

header nav ul li a.activo {
    color: var(--color-principal);
}

header nav ul li a:hover {
    color: var(--color-principal);
}

/* inicio footer */

footer {
    background-color: var(--color-secundario);
    padding: 1.25em 0.625em;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%
    /* con posicion  position: fixed;bottom: 0; width:100% dejo el footer fijo abajo */
}

footer p, footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
}

/* fin footer */

@media(min-width: 48.000em) {
    header .nav_top a span {
        display: inline;
    }
    footer {
        text-align: left;
    }
}

@media(min-width: 62.750em) {
    header .hamburguesa {
        display: none;
    }
    header nav ul {
        width: auto;
        display: flex;
    }
    header nav ul li a {
        padding: 5px 20px;
        border-bottom: 0px;
    }
}

/* inicio hero */

.hero {
    background-image: url('../images/fondo.jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #999;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    /* background-blend-mode: mezcla el backgraund image con  el background color que puedo variar ; */
}

.hero {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    display: flex;
}

.hero .container {
    width: 90%;
}

.hero h1 {
    font-family: var(--fuenteSecundario);
    font-size: 2.5em;
    color: white;
}

.hero h2 {
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0px;
}

.hero p {
    font-size: 1.15 em;
    color: white;
}

.boton {
    display: inline-block;
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
}

.boton:hover {
    background-color: transparent;
    color: var(--color-principal);
}

.boton i {
    transition: transform 0.5s;
}

.boton:hover i {
    transform: translateX(5px);
}

.hero .social li {
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.hero .social a {
    color: white;
    text-decoration: none;
}

/* fin hero */

/* 
main inicio */

/* INICIO OUR SERVICES */

main {
    margin-bottom: 90px;
}

main section {
    padding: 2.125em 0;
}

main section h2 {
    color: black;
    font-family: var(--fuenteSecundario);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--color-principal);
}

main section .underline {
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;
}

main section .underline hr {
    border-color: var(--color-principal);
    position: absolute;
    width: 100%;
    top: -0.063em;
}

main #ourservices .flex {
    flex-wrap: wrap;
    padding: 0 0.825em;
}

main #ourservices .flex article {
    width: 100%;
    padding: 1.825em 0;
    border-bottom: 1px solid #aaa;
}

main #ourservices .flex article div i {
    color: var(--color-principal);
    font-size: 2em;
    padding: 0.5em;
    border: 2px solid var(--color-principal);
}

main #ourservices .flex article div .fa-truck {
    transform: rotateY(180deg);
}

main #ourservices .flex article h3 {
    font-weight: 700;
    margin: 1em 0;
}

.enlace {
    text-decoration: none;
    margin-top: 1em;
    display: block;
    color: var(--color-principal);
}

@media(min-width: 48.000em) {
    main #ourservices .flex article {
        width: 50%;
        padding: 1.825em;
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        margin-bottom: 1em;
    }
    main #ourservices .flex article:last-child {
        width: 100%;
    }
}

@media(min-width: 62.750em) {
    main #ourservices .flex article {
        width: 33.33%;
    }
    main #ourservices .flex article:last-child {
        width: 33.33%;
    }
}

/* FIN OUR SERVICES */

/* INICIO ABOUT US  */

main #aboutus .flex {
    flex-direction: column;
}

main #aboutus .flex .columna {
    padding: 0.825em;
}

main #aboutus .flex .columna h3 {
    font-weight: 700;
}

main #aboutus .flex .columna h4 {
    color: var(--color-principal);
    margin: 1em 0;
}

main #aboutus .marco {
    border: 3px solid var(--color-principal);
    transform: rotateZ(10deg);
    width: 90%;
    margin: 0 auto;
    transition: 1s;
}

main #aboutus .marco img {
    transform: rotateZ(-10deg);
    transition: 1s;
}

main #aboutus .columna:hover .marco, main #aboutus .columna:hover img {
    transform: rotateZ(0deg);
}

@media(min-width: 48.000em) {
    main #aboutus .flex {
        flex-direction: row;
    }
}

/* FIN ABOUT US */

/* main final */

/* INICIO BLOG */

#ourblog .padre {
    display: flex;
    flex-wrap: wrap;
}

#ourblog .padre h2 {
    font-family: var(--fuentePrincipal);
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin: 1em 0;
}

#ourblog .padre .tom {
    color: var(--color-principal);
    margin-bottom: 0.6em;
}

#ourblog .padre article {
    width: 44%;
    margin: 3%;
    position: relative;
}

.fecha {
    background-color: rgba(250, 87, 58, 0.7);
    color: white;
    font-size: 1em;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    padding: 10px;
    text-align: center;
}

@media(min-width: 48em) {
    #ourblog .padre article {
        width: 30%;
        margin: 1.66666666666%;
    }
    #ourblog {
        margin-top: -50px;
    }
    .padre {
        margin-top: -30px;
    }
    .fecha {
        width: 66px;
        height: 66px;
        padding: 12px;
        font-size: 1.4em;
    }
}

/* ***************f i n b l o g      */

/* 
inicio menu */

.blanco {
    background-color: white;
}

.wrapermenu {
    background-color: var(--color-secundario);
    color: white;
    font-size: .9em;
}

#todaysmenu h2 {
    color: white;
}

.movil {
    width: 80%;
    margin: 0 auto;
}

.estrechotop {
    margin-top: -60px;
}

.estrechotop a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 0.9em;
}

.estrechotop a:hover {
    background-color: var(--color-principal);
}

.estrechobottom {
    margin: 50px 0;
    line-height: 16px;
    ;
}

.estrechobottom .underline {
    width: 50px;
    margin-left: 0;
}

.estrechobottom h3, .texto h3 {
    font-weight: bold;
}

.estrechobottom p {
    font-size: .7em;
    margin-top: -10px;
}

.texto h3 span {
    color: var(--color-principal);
}

.texto h3 {
    padding: 15px 0;
}

.plato {
    margin: 40px 0;
}

.texto p {
    font-size: 0.8em;
}

.none {
    display: inline-block;
    margin: 10px 0 0 330px;
}

@media(min-width: 48em) {
    .blanco {
        padding: 20px 0;
    }
    .none {
        display: none;
    }
    .padre {
        display: flex;
    }
    .estrecho {
        flex: 1 1 30%;
    }
    .ancho {
        flex: 1 1 70%;
    }
    .plato {
        display: flex;
        height: 100px;
    }
    .foto {
        flex: 1 2 50%;
    }
    .texto {
        flex: 1 10 100%;
    }
    .ancho {
        margin-top: -100px;
    }
    .plato img {
        height: 120px;
        width: 180px;
        margin-right: 50px;
        margin-left: 80px;
    }
    .estrechobottom {
        margin-top: 100px;
        margin-right: 50px;
    }
    .texto p {
        font-size: 1em;
    }
    .estrechobottom p {
        font-size: .8em;
        line-height: 20px;
    }
    .texto h3 {
        font-size: 1.2em;
    }
    #todaysmenu {
        margin-bottom: 30px;
    }
}